.intro {
    font-family: 'Inter', Arial, sans-serif;
    padding: 92px 0;
    max-width: 984px;
    margin: 0 auto;
}
  
  @media (max-width: 1024px) {
    .intro {
        padding: 92px 48px 92px 48px;
        margin: 0;
    }
}
  
  @media (max-width: 768px) {
    .intro {
        padding: 88px 0;
    }
}
  
  @media (max-width: 480px) {
    .intro {
        padding: 64px 0;
    }
}